.dataTable-top > nav:first-child,
.dataTable-top > div:first-child,
.dataTable-bottom > nav:first-child,
.dataTable-bottom > div:first-child {
  [dir='rtl'] & {
    float: right;
  }
}

.dataTable-top > nav:last-child,
.dataTable-top > div:last-child,
.dataTable-bottom > nav:last-child,
.dataTable-bottom > div:last-child {
  [dir='rtl'] & {
    float: left;
  }
}

/* PAGER */
.dataTable-pagination ul {
  [dir='rtl'] & {
    padding-right: 0;
  }
}

.dataTable-pagination li {
  [dir='rtl'] & {
    float: right;
  }
}

.dataTable-pagination a {
  [dir='rtl'] & {
    float: right;
    margin-left: unset;
    margin-right: 2px;
  }
}

/* TABLE */
.dataTable-table > thead > tr > th {
  [dir='rtl'] & {
    text-align: right;
  }
}

.dataTable-table > tfoot > tr > th {
  [dir='rtl'] & {
    text-align: right;
  }
}

.dataTable-table th {
  [dir='rtl'] & {
    text-align: right;
  }
}

.dataTable-sorter::before,
.dataTable-sorter::after {
  [dir='rtl'] & {
    right: unset;
    left: 4px;
  }
}
