@import './rtl/multiselect/default';
@import './rtl/simple-datatables/style';
@import './rtl/notyf/notyf';
@import './rtl/demo';

.tns-outer {
  direction: ltr;
}

.control.is-loading::after {
  [dir='rtl'] & {
    right: unset;
    left: 0.75em;
  }
}

.scaleX--1 {
  [dir='rtl'] & {
    transform: scaleX(-1);
  }
}

input[type='email'],
input[type='url'] {
  direction: ltr;
}

.apexcharts-toolbar {
  right: auto !important;
  left: 3px !important;
}

@media only screen and (min-width: 600px) {
  .card-pond-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.v-modal .modal-content {
  width: 90% !important;
}
